* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: sans-serif;
  background-color: #fafafa;
}

.container  {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-title  {
  margin-bottom: 2rem ;
}